*.wav*
*.png
*.html
*.org_archive
faust/snare/bin/*
faust/snare/cpp
*~
/faust/snare/src/snare.dsp.cpp
/generic_pbind.scm
/sclang_output.sc
/audio
*.bu
/test.org
/#test.org#
/unused_audio/
/faust/snare/src/#disperse_filtered_sound.dsp#
